appscript==1.2.2
certifi==2023.7.22
charset-normalizer==3.3.2
dataclasses==0.6
dataclasses-serialization==1.3.1
idna==3.4
lxml==4.9.3
more-properties==1.1.1
mypy-extensions==1.0.0
numpy==1.26.1
orjson==3.9.10
psutil==5.9.6
requests==2.31.0
simpleeval==0.9.13
toolz==0.12.0
toposort==1.10
typing-inspect==0.9.0
typing_extensions==4.8.0
urllib3==2.0.7
websockets==12.0
xlwings==0.30.12
